img {
height: 150px;
}
header{
    background-color: #4D1414;
}
footer {
    background-color: #4D1414;
    text-align: center;
}
header h1{
    color: burlywood;
    position:relative;
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
}
footer h2, footer p{
    color: burlywood;
}
hr.solid {
    border-top: 3px solid #bbb;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }