@media only screen and (min-width: 64rem) {

    nav button {display: none;}

    header h1, header h2{text-align: center;}

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    header {font-size: medium;}
    main div {height: auto;}

    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, min-content);
    }
    #hero {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #news {
        grid-column: 2/4;
        grid-row: 2/4;
    }
    #spotlights {
        grid-row: 1/4;
        grid-column: 4/5;
    }
    #spotlights div {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: 1fr;
    }
    #joinUs {
        margin-top: 200px;
        margin-bottom: -50px;
    }

}