html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header, footer, button {
    background-color: #5B8C5A;
    color: #89043D;
}

a {
    color: #89043D;
}
a:hover {
    color: black;
}

#hero button:hover {
    background-color: rgba(0,0,0,0.2);
}

img {
    margin-top: 10px;
}

header {
    display: grid;
    grid-template-columns: 125px 1fr 1fr;
    text-align: left;
    font-size: small;
}

header h3 {
    grid-column: 1/4;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
}

body {
    background-color: #1282A2;
    color: #FEFCFB;
}

main {
    display: grid;
    gap: 10px;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
}

footer div {
    width: 500px;
    margin: auto;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

p, a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

main div {
    display: inline-block;
    background-color: rgba(0,0,0,0.2);
    min-height: 50px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #89043D;
}

nav {
    background-color: #5B8C5A;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #89043D;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #89043D;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#spotlights {
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(0,0,0,-0.2);
}

#join, #s3 {
    display: none;
}

#joinUs {
    float: right;
    margin-right: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
}

#hero {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content min-content;
    justify-content: center;
}
#hero picture {
    grid-row: 1/3;
    grid-column: 1/3;
    width: max-content;
    height: max-content;
}
#hero h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-left: 2em;
    color: #89043D;
}
#hero button {
    grid-row: 2/3;
    grid-column: 2/3;
}
#hero picture img {
    width: max-content;
    height: max-content;
}

#event {
    text-align: center;
}
#event p {
    margin: 15px;
}

#weather h3 {
    font-size:30px;
}
#weather img {
    float: left;
    width: 100px;
    height: 100px;
}

#weather h2, #weather h3, #weather p {
    margin-left: 20px;
}

#news h2, #news p {
    margin: 20px;
}
#spotlights div hr {
    border-top: 1px solid #FEFCFB;
  }
#spotlights div {
    text-align: center;
}
#spotlights img {
justify-self: center;
}

#join button {
    width: 76%;
    margin: 12%;
}
#join {
    text-align: center;
}

#banner {
    text-align: center;
    grid-column: 1/4;
}
#banner.closed {
    display: none;
}

img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

  main.discover {
    display: grid;
    grid-template-columns: min-content;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  form {
      padding: 5px;
      display: grid;
      grid-template-rows: min-content max-content
  }
  form div {
      padding: 5px;
  }

  #form {
      justify-content: center;
  }
  .thanks {
      padding: 20px;
  }
  h1.thanks {
      font-size:90px;
  }
  a.thanks {
      font-size: x-large;
  }

  input {
      padding: .75rem;
  }

  input:required {
      border: solid 3px yellowgreen;
  }
  input:invalid {
    border: solid 3px rgba(255, 0, 0, 0.397);
  }
  .company_logo {
      max-width: 100px;
      max-height: 100px;
  }
  section {
      background-color: #FEFCFB;
      color: #89043D;
      text-align: center;
      margin: 10px;
      width: 300px;
      justify-self: center;
  }
  #cards {
      justify-self: center;
  }

  .null {display: none;}

  .list li {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .list :nth-child(even) {
      background-color: rgba(0,0,0,0.2);
  }
  .list :nth-child(odd) {
      background-color: rgba(0,0,0,0.1);
  }

  .list {
      list-style: none;
      justify-self: center;
      max-width: 90%;
  }
  .listview :nth-child(2){
    display: none;
  }
  .cardview :nth-child(1){
      display: none;
  }
  #view {
      font-size: x-large;
      margin-top: 10px;
      width: min-content;
      justify-self: center;
  }